{% include 'includes/base.html' %}


    <!--TRAINERS-->
  <main>
    {% block content %}
    <!--TRAINERS-->
    <a href="{% url 'trainer_add' %}" class="btn btn-outline-primary">Add New Trainer</a><br>
    <section class="trainers-container">

      <table class="styled-table">
        <tbody>
          <tr>
            <th>Trainer Name</th>
            <th>Birthdate</th>
            <th>Location</th>
            <th>Email</th>
            <th>Action</th>
          </tr>
          {% for object in object_list %}
          <!--ASH-->
          <tr>
            <td>{{ object.name }}</td>
            <td>{{ object.birthdate }}</td>
            <td>{{ object.location }}</td>
            <td>{{ object.email}} </td>
            <td>
              <a href="trainer_list/{{ object.id }}" >Edit</a> |
              <a href="trainer_list/{{ object.id }}" >Delete</a>
            </td>
          </tr>
          <tr>
          {% empty %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div>
        {% include 'includes/pagination.html' %}
      </div>
  </section>
  {% endblock %}
  </main>
  

  <!-- {% include 'includes/footer.html' %} -->
